@import "tailwindcss";

@theme {
    --color-dark-blue: #094872;
    --color-white: #ffffff;
    --color-gray: #b9b6b9;
    --color-raisin-black: #372f36;
    --color-soft-gray: #545454;
    --color-light-gray: #c7c7c7;

}

html {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: 1920px, 1920px;
}

.greenCard {
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    background: #ff5454;
    background: linear-gradient(360deg, rgba(30, 30, 30, 1) 0%, rgba(50, 50, 50, 1) 100%);
    border-radius: 12px;
}

.redCard {
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    background: #ff1f1f;
    background: linear-gradient(360deg, rgba(30, 30, 30, 1) 0%, rgba(50, 50, 50, 1) 100%);
    border-radius: 12px;
}

.active-modal {
    overflow-y: hidden;
}