@import "tailwindcss";

@theme {
    --color-dark-blue: #094872;
    --color-white: #ffffff;
    --color-gray: #b9b6b9;
    --color-raisin-black: #372f36;
    --color-soft-gray: #545454;
    --color-light-gray: #c7c7c7;

}

html {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #141414;
    background: #1b1b1b;
    background: linear-gradient(180deg, rgb(27, 21, 37) 0%, rgba(20, 20, 20, 1) 100%);
    background-repeat: no-repeat;
    background-size: 1920px, 1920px;
}

.greenCard {
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    background: #ff5454;
    background: linear-gradient(360deg, rgba(64, 182, 46) 0%, rgb(64, 182, 46, 0.15) 100%);
    border-radius: 12px;
}

.redCard {
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    background: linear-gradient(360deg, rgba(255, 47, 47) 0%, rgba(255, 47, 47, 0.15) 100%);
    border-radius: 12px;
}

.active-modal {
    overflow-y: hidden;
}